<% content_for :header do %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xWsRsM--vAOE_I9dv-ljLh-nO6IU0pU&callback=initMap"></script>
<% end %>
<h1 id="title">Hello World!</h1>
<div id="map"></div>