<div class='blurred-container'>
      <a href="https://zidooo-hyunjunian.c9users.io/">
         <div class="logo-container">          
            <div class="logo2">
                <img src="/panda_logo.png" width=30 height=30>
            <div class="brand">
                ZIDO
            </div>
            </div>
        </div>
      </a>
    <div class="motto">
      <h1>
        <div class="border no-right-border">ZI</div><div class="border">DO</div>
      </h1>

<h5>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>


</h5>
    </div>
  <div class="img-src" style="background-image: url('/bg_main2.png')"></div>
  
  <div class='img-src blur' style="background-image: url('/bg_main.png')"></div>
</div>



